<%- include('../partials/head') %>
</head>
<body class="bg-light">
  <%- include('../partials/nav') %>

  <main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body p-4">
            <h1 class="text-center mb-4 fw-bold text-dark">
              <%=editing?"Edit":"Register"%>Your Home on AirBnb
            </h1>

            <form action="/host/<%=editing?"edit-home":"add-home"%>" method="POST">
              <input type="hidden" name="id" value="<%=editing?home.id:''%>"/>
              <div class="mb-3">
                <input
                  type="text"
                  name="houseName"
                  value="<%=editing?home.houseName:''%>"
                  class="form-control"
                  placeholder="Enter your House Name"
                  required
                />
              </div>

              <div class="mb-3">
                <input
                  type="text"
                  name="price"
                  value="<%=editing:home.price:''%>"
                  class="form-control"
                  placeholder="Price Per Night"
                  required
                />
              </div>

              <div class="mb-3">
                <input
                  type="text"
                  name="location"
                  value="<%=editing:home.location:''%>"
                  class="form-control"
                  placeholder="Location"
                  required
                />
              </div>

              <div class="mb-3">
                <input
                  type="text"
                  name="rating"
                  value="<%=editing?home.rating:''%>"
                  class="form-control"
                  placeholder="Rating"
                />
              </div>

              <div class="mb-3">
                <input
                  type="text"
                  name="photoUrl"
                  value="<%=editing?home.photoUrl:''%>"
                  class="form-control"
                  placeholder="Enter Photo URL"
                />
              </div>

              <div class="d-grid">
                <button type="submit" value="<%=editing?"update Home":"Add Home"%>" class="btn btn-danger">
                  Submit
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
